# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Force the following filetypes to have Linux eols, so Windows does not break them
*.* text eol=lf

# Force the following filetypes to have Windows eols, so Linux does not break them
#/.idea/* text eol=crlf

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
#*.bmp  binary
#*.gz   binary
#*.icns binary
#*.ico  binary
#*.pack binary
#*.pgp  binary
#*.png  binary
#*.raw  binary
#*.svg  binary
#*.tiff binary
#*.xcf  binary
#*.xpm  binary
